
SharpKeys/.vs/SharpKeys/v15/Server/sqlite3/db.lock
SharpKeys/.vs/SharpKeys/v15/Server/sqlite3/storage.ide
SharpKeys/.vs/SharpKeys/v15/Server/sqlite3/storage.ide-shm
SharpKeys/.vs/SharpKeys/v15/Server/sqlite3/storage.ide-wal
SharpKeys/obj/Debug/SharpKeys.csproj.CoreCompileInputs.cache
SharpKeys/obj/Debug/SharpKeys.csprojAssemblyReference.cache
