<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnStructs"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnMethods"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnProperties"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnClasses"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnDelegates"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnEnumerations"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnEvents"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnInterfaces"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertExplicitAccessModifiersOnFields"
                serializeAs="String">
                <value>False</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>